<!DOCTYPE html>
<html>
<head>
	<title> API </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
	<h1>Distant Reading Archive</h1>
	<p>Api for Covid Data for India</p>


	<ul class="nav flex-column">
		<li class="nav-item">
			<a class="nav-link active" href='/getStateData'> State Data</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href='/districtpdfurl'>District Pdf Data</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href='/timeSeries'>TimeSeries Data</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href='/getDistrictData'> District wise Data</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href='/GlobalTimeSeries'> Global TimeSeries</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href='/Dateinfo'> Dateinfo</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href='/GlobalData'> Global Data</a> 
		</li>
		<li class="nav-item">
			<a class="nav-link active" href='/abhishek'> Update Data</a> 
		</li>
	</ul>


</body>
</html>